body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.container .column1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1;
    gap: 20px;
}

.container .column2 {
    grid-column: 2;
}
